extends ./layout

block header
	header#header
		include ./components/breadcrumbs
		-var logoType = eventType === 'EA Global X' ? 'eagx' : 'eag';
		include ./layout/header
		+headerLogo(logoType)
		+headerText(city+' '+moment(startDate).format('YYYY'))

block content
	#content
		section.event-details.section-no-divider
			.event-details-dates
				| #{moment(startDate).format('D')}
				if moment(endDate).isAfter(startDate,'month')
					|  #{moment(endDate).format('MMMM')}
				if moment(endDate).isAfter(startDate,'day')
					|  &ndash; #{moment(endDate).format('D')}
				|  #{moment(endDate).format('MMMM YYYY')}
			.event-details-location
				span.event-details-location-venue!=venue
				| , 
				span.event-details-location-city!=city
				| , 
				span.event-details-location-country!=country
		//- Get all Speakers associated with this event
		if featuredSpeakers && featuredSpeakers.length > 0
			section.event-speakers.section-divider
				h2.event-speakers-title Featured speakers
				.row
					- var speakerWidths = ['col-sm-6','col-sm-offset-3']
					if featuredSpeakers.length === 2
						- speakerWidths = ['col-sm-6']
					if featuredSpeakers.length === 3
						- speakerWidths = ['col-sm-4']
					if featuredSpeakers.length === 4
						- speakerWidths = ['col-sm-6']
					if featuredSpeakers.length >= 5
						- speakerWidths = ['col-sm-4']

					each s in featuredSpeakers.slice(0,6)
						-var speaker = fileIDMap[s.sys.id]
						div(class=speakerWidths)
							.event-speakers-speaker
								.event-speakers-speaker-photo-wrapper
									.content
										a(href=speaker.canonical)
											img(src='https:'+speaker.photo.fields.file.url)
								h3.event-speakers-speaker-title
									a(href=speaker.canonical)!=speaker.title
								.event-speakers-speaker-occupation
									include ./helpers/job-title
									+jobTitle(speaker)
		
		//- Get all Talks associated with this event
		- var featuredTalks = []
		each talk in talks
			if talk.event.sys.id === id
				- featuredTalks.push(talk)
		if featuredTalks.length > 0
			include ./helpers/embed-link
			- var talkWidths = ['col-sm-6', 'col-sm-offset-3']
			if featuredTalks.length === 2
				- var talkWidths = ['col-sm-6']
			if featuredTalks.length === 3
				- var talkWidths = ['col-sm-4']
			if featuredTalks.length >= 4
				- var talkWidths = ['col-md-2','col-sm-3']
			section.event-talks.section-divider
				h2.event-talks-title Featured talks
				.row
					each talk in featuredTalks.slice(0,4)
						div(class=talkWidths)
							.event-talks-talk
								+embedLink(talk)
				.event-talks-view-all.event-view-all
					a(href=canonical+'talks/') View all talks from #{title}
		//- Get all Galleries associated with this event
		each gallery in galleries
			if gallery.event && gallery.event.sys.id === id
				section.event-photos.section-divider
					h2.event-photos-title Photos
					.row
						each image in gallery.images.slice(0,4)
							.col-md-3
								figure.event-photos-photo-wrapper
									.content
										a(href=gallery.canonical)
											img.event-photos-photo(src='https:'+image.fields.file.url)
					.event-talks-view-all.event-view-all
						a(href=gallery.canonical) View all photos from #{title}