extends ./layout

block header
	header#header
		include ./components/breadcrumbs
		-var logoType = slugify(eventType) === 'eagx' ? 'eagx' : 'eag';
		include ./layout/header
		+headerLogo(logoType)
		+headerText(city+' '+moment(startDate).format('YYYY'))

block content
	include ./components/cards
	#content
		section.event-details.section-no-divider
			.event-details-dates
				include ./helpers/format-event-details
				+formatEventDates()
			.event-details-location
				+formatEventLocation()
		//- Get all Speakers associated with this event
		if featuredSpeakers && featuredSpeakers.length > 0
			section.event-speakers.section-divider
				h2.event-speakers-title Featured speakers
				.row
					- var speakerWidths = ['col-sm-6','col-sm-offset-3']
					if featuredSpeakers.length === 2
						- speakerWidths = ['col-sm-6']
					if featuredSpeakers.length === 3
						- speakerWidths = ['col-sm-4']
					if featuredSpeakers.length === 4
						- speakerWidths = ['col-sm-6']
					if featuredSpeakers.length >= 5
						- speakerWidths = ['col-sm-4']

					each s in featuredSpeakers.slice(0,6)
						-var speaker = fileIDMap[s.sys.id]
						div(class=speakerWidths)
							+card(speaker)
		
		//- Get all Talks associated with this event
		- var featuredTalks = []
		each talk in talks
			if talk.event.sys.id === id
				- featuredTalks.push(talk)
		if featuredTalks.length > 0
			- var talkWidths = ['col-sm-6', 'col-sm-offset-3']
			if featuredTalks.length === 2
				- var talkWidths = ['col-sm-6']
			if featuredTalks.length === 3
				- var talkWidths = ['col-sm-4']
			if featuredTalks.length === 4
				- var talkWidths = ['col-md-3','col-sm-6']
			if featuredTalks.length >= 5
				- var talkWidths = ['col-md-2','col-sm-3']
			section.event-talks.section-divider
				h2.event-talks-title Featured talks
				.row
					each talk in featuredTalks.slice(0,4)
						div(class=talkWidths)
							.event-talks-talk
								+card(talk)
				.event-talks-view-all.event-view-all
					a(href=canonical+'talks/') View all talks from #{title}
		//- Get all Galleries associated with this event
		each gallery in galleries
			if gallery.event && gallery.event.sys.id === id
				section.event-photos.section-divider
					h2.event-photos-title Photos
					.row
						each image in gallery.images.slice(0,4)
							.col-md-3
								figure.event-photos-photo-wrapper
									.content
										a(href=gallery.canonical)
											img.event-photos-photo(src='https:'+image.fields.file.url)
					.event-talks-view-all.event-view-all
						a(href=gallery.canonical) View all photos from #{title}